<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/css/main.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Proza+Libre&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans&display=swap" rel="stylesheet">

    <title>{% if page.title %}{{ page.title }} | {% endif %}Evan Rothmayer</title>
  </head>

  <body>

    {{ content }}

  </body>
</html>
